.hero-section{
    background-color:white !important;
}
.icons-section{
    min-height: 500px;
    background-color: #073759 !important;
}
i{
    font-size: 60px; 
  }
h2, .us, .test{
    font-family: "Peddana", serif; 
    font-size: 65px;
}
.test{
    color:white;
}
.quote{
    font-family: "Arima", serif;
    font-size: 30px;
    margin-bottom: 30px;
}
h1{
    font-family: "Peddana", serif; 
    font-size: 55px;
    color: white;
}
.us{
    margin-left: -20px;
}
.red-bg{
    background-color: #ac2d29 !important;
}
.tan-bg{
    background-color: rgb(241, 213, 177) !important;
    min-height: 2px;
    margin-top: 5px;
}
.video{
    max-width: 700px;
    margin:0 auto;
    display: block;
}
.tabs{
    min-height: 500px;
    background-color: #073759 !important;
    color: white;
}
.tab-content, #home-tab-pane, .table,{
    color:white;           
}
.nav-link{
    color:white;
}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active{
    color:white;
    background-color:transparent;
}